---
let phone = Astro.url.searchParams.get("phone")! || "";
let showOtpForm = phone?.length > 0;
if (phone) {
  Astro.response.headers.set("Set-Cookie", `phone=${phone}; Path=/;`);
} else {
  phone = Astro.cookies.get("phone")?.value || "";
}
---

<div>
  {
    showOtpForm ? (
      <form id="form">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" />
        <input type="hidden" name="phone" value={phone} />
        <button type="submit">Verify OTP</button>
      </form>
    ) : (
      <form action="#" id="form">
        <h1>User Registration</h1>
        <label for="phone">Phone Number:</label>
        +<input type="tel" id="phone" name="phone" value={phone || null} />
        <button type="submit">Send OTP</button>
      </form>
    )
  }
</div>

<script>
  import { supabase } from "../utils/supabaseBrowser";

  // get form id form
  const form = window.document.getElementById("form");
  form?.addEventListener("submit", async function (e) {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    let phoneField = formData.get("phone") as string;
    if(phoneField.charAt(0) === '+') phoneField = phoneField.substring(1);
    if(phoneField.length === 10) phoneField = "1" + phoneField;

    let submitBtn = form?.querySelector("button"); // Add this line

    const otp = formData.get("otp") as string;
    

    if (phoneField) {
      try {
        submitBtn!.textContent = "Loading";
        // login with SMS
        console.log('Login: +' + phoneField);
        const { error, data } = await supabase.auth.signInWithOtp({
          phone: '+' + phoneField,

          options: { shouldCreateUser: true },
        });
        if (error) throw error;
        alert("Check your phone for the login link!" + JSON.stringify(data));
        window.location.href = "/login?phone=" + phoneField;
      } catch (error) {
        if (error instanceof Error) {
          alert(error.message);
        }
      } finally {
        submitBtn!.textContent = "Send magic link";
      }
    }
    // Add this part for OTP verification
    else if (otp) {
      const { data, error } = await supabase.auth.verifyOtp({
        phone: phoneField,
        token: otp,
        type: "sms",
      });
      if (error) {
        alert(`Error: ${error.message}`);
      } else {
        alert("OTP verified successfully!");
        Astro.redirect("/play");
      }
    } else {
      alert("Please enter a valid OTP");
    }
  });
</script>
