<script>

    const domain = 'meet.jit.si';
    const options = {
        roomName: 'thrivetogether',
        width: 700,
        height: 700,
        parentNode: document.getElementById('meet'),
        lang: 'en'
    };

    console.log('JitsiMeetExternalAPI', JitsiMeetExternalAPI)
    let jitsiApi;
    document.addEventListener('DOMContentLoaded', (event) => {
    // Your code here
    console.log('123')
    jitsiApi = new JitsiMeetExternalAPI(domain, options);
    console.log('ran');
    return () => {
      // Clean up the Jitsi Meet conference when the component is unmounted
      jitsiApi.dispose();
    };
  });

</script>

<style>
  #meet {
    width: 40%;
    height: 600px;
  }
</style>

<div id="meet" class="w-full">test</div>